.suggestions {
    border: solid 1px #f1f1f1;
    position: absolute;
    width: 600px;
    background: white;
}

.suggestions ul {
    padding: 0;
    margin: 0;
}

.container {
    width: 600px;
}

.suggestions ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggestions ul li a {
    padding: 5px 15px 5px 20px;
    display: block;
    text-decoration: none;
    vertical-align: middle;
    height: 80px;
    color: #7E7E7E;
}

.suggestions ul li a:hover {
    background-color: #f1f1f1;
}

img {
    height: 70px;
}

.no-image {
    height: 70px;
    width: 47px;
}

.fa-picture-o {
    line-height: 70px;
    font-size: 30px;
}

.movie_title {
    line-height: 70px;
}
