<header>
    <nav class="top-nav">
        <div class="nav-wrapper">
            <a class="brand-logo">{{title}}</a>
            <!--<ul id="nav-mobile" class="right hide-on-med-and-down">-->
                <!--<li routerLinkActive="active"><a routerLink="/watchlist">Watchlist</a></li>-->
                <!--<li routerLinkActive="active"><a routerLink="/stats">Stats</a></li>-->
            <!--</ul>-->
        </div>
    </nav>
</header>
<main>
    <!--<router-outlet></router-outlet>-->
    <movie-edit></movie-edit>
</main>
<footer>

</footer>

