<header>
    <nav class="top-nav">
        <div class="nav-wrapper">
            <a class="brand-logo">{{title}}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a>Movies</a></li>
                <li><a>Graphs</a></li>
            </ul>
        </div>
    </nav>
    <!--<div class="container">-->
        <!--<a data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">-->
            <!--<i class="material-icons">menu</i>-->
        <!--</a>-->
    <!--</div>-->
    <!--<ul id="nav-mobile" class="side-nav fixed" style="overflow: auto; transform: translateX(0%);">-->
        <!---->
    <!--</ul>-->
</header>
<main>
    <tmdb-search></tmdb-search>
</main>
<footer>

</footer>

