<div class="container">
    <div class="input-field col s12">
        <input [(ngModel)]="queryString" type="text" id="movie-search" class="validate filter-input" (keyup)="search($event)">
        <label for="movie-search">Movie Title</label>
    </div>
    <div class="suggestions" *ngIf="moviesLength > 0 && !selectedMovie">
        <ul *ngFor="let movie of movies | async;let idx = index">
            <li [class.complete-selected]="idx == selectedIndex">
                <a class="left-align" (click)="select(movie, idx)">
                    <span class="movie_title">{{movie.title}}</span>
                    <div *ngIf="movie.posterUrl" class="right">
                        <img src="{{tmdbService.generatePosterUrl(movie, 0)}}">
                    </div>
                    <div *ngIf="!movie.posterUrl" class="right no_image">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
