<div class="container">
    <div class="input-field col s12">
        <input [(ngModel)]="queryString" type="text" id="movie-search" class="validate filter-input" (keyup)="search($event)">
        <label for="movie-search">Movie Title</label>
    </div>
    <div class="suggestions" *ngIf="moviesLength > 0 && !selectedMovie">
        <ul *ngFor="let movie of movies | async;let idx = index">
            <li [class.complete-selected]="idx == selectedIndex">
                <a (click)="select(movie, idx)">{{movie.title}}</a>
            </li>
        </ul>
    </div>
</div>
