<div class="section">
    <div class="valign-wrapper">
        <div class="col s6 valign">
            <div class="switch">
                <label>
                    N/A
                    <input [(ngModel)]="atCinema" type="checkbox">
                    <span class="lever"></span>
                    At Cinema
                </label>
            </div>
        </div>
        <div [ngClass]="{'not-visible': !atCinema}" class="input-field col s6">
            <select materialize="material_select" [(ngModel)]="viewing.cinema">
                <option value="" disabled selected>Choose a cinema</option>
                <option *ngFor="let cinema of cinemas | async" [ngValue]="cinema">{{cinema.name}}</option>
            </select>
            <label>Cinema Select</label>
        </div>
    </div>
    <div class="col s12 inherit-float">
        <label for="watchdate">Date Watched</label>
        <input id="watchdate" [(ngModel)]="viewing.date" materialize="pickadate"
               [materializeParams]="[{format: 'dd/mm/yyyy'}]" type="date" class="datepicker">
    </div>
</div>

